main{
    min-height: 100vh;
    place-items: center;
    display: grid;
}

.container{
    text-align: center;
}

.container h2{
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.btn-hero{
    background: transparent;
    border-radius: 10px;
    font-weight: 300px;
    color: black;
    padding: 8px;
    border: 2 px solid black;
    cursor: pointer;
    text-transform: capitalize;
}
.btn-hero:hover{
    color:#fff;
    background: black;
}